<div class="container">
    <h1> Página Sobre</h1>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed temporibus obcaecati accusamus debitis quaerat
        minus fugit. Enim nesciunt maxime tempore et quibusdam neque mollitia, veniam nemo dolores nobis optio
        molestiae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea nulla laboriosam repellendus minus
        pariatur assumenda fugiat rerum adipisci? Expedita officia placeat in aliquid explicabo dolorum voluptates porro
        veritatis corporis fugiat!</p>
</div>